/* @import 'custom-media.css'; */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400');
@import 'colors.css';
@import 'gradients.css';
@import 'axis.css';
@import 'dot.css';

body, svg text {
  background: #fafafa;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
